APP_NAME=Infbyte
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost

ROUTER_MATCHER=fused

AUTH_STORAGE=memory
AUTH_CACHE=array
AUTH_PASSWORDS=native
AUTH_TOKENS=simple
AUTH_MFA=simple
AUTH_NOTIFICATIONS=collect
AUTH_PASSKEY=disabled
AUTH_TOKEN_SECRET=
