APP_NAME=Infbyte
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost
APP_CONFIG_CACHE_TYPE=sharded
APP_CONTAINER_COMPILED=bootstrap/cache/container.php
APP_CONTAINER_COMPILED_ACTIVATION=off

ROUTER_MATCHER=fused

AUTH_IDS=random
AUTH_STORAGE=memory
AUTH_CACHE=array
AUTH_PASSWORDS=native
AUTH_TOKENS=simple
AUTH_MFA=simple
AUTH_NOTIFICATIONS=collect
AUTH_PASSKEY=disabled
AUTH_TOKEN_SECRET=foundation-dev-secret
